---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/jpillora/serve/releases/latest
    method: GET
  response:
    body: "{\"url\":\"https://api.github.com/repos/jpillora/serve/releases/90488869\",\"assets_url\":\"https://api.github.com/repos/jpillora/serve/releases/90488869/assets\",\"upload_url\":\"https://uploads.github.com/repos/jpillora/serve/releases/90488869/assets{?name,label}\",\"html_url\":\"https://github.com/jpillora/serve/releases/tag/v1.9.8\",\"id\":90488869,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOAfYijM4FZMAl\",\"tag_name\":\"v1.9.8\",\"target_commitish\":\"master\",\"name\":\"v1.9.8\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2023-01-27T23:31:40Z\",\"updated_at\":\"2023-01-27T23:40:00Z\",\"published_at\":\"2023-01-27T23:39:50Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/jpillora/serve/releases/assets/93318418\",\"id\":93318418,\"node_id\":\"RA_kwDOAfYijM4Fj-0S\",\"name\":\"serve_1.9.8_checksums.txt\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/octet-stream\",\"state\":\"uploaded\",\"size\":2710,\"digest\":null,\"download_count\":955,\"created_at\":\"2023-01-27T23:40:00Z\",\"updated_at\":\"2023-01-27T23:40:00Z\",\"browser_download_url\":\"https://github.com/jpillora/serve/releases/download/v1.9.8/serve_1.9.8_checksums.txt\"},{\"url\":\"https://api.github.com/repos/jpillora/serve/releases/assets/93318404\",\"id\":93318404,\"node_id\":\"RA_kwDOAfYijM4Fj-0E\",\"name\":\"serve_1.9.8_darwin_amd64.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github[...]
