---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/gitui-org/gitui/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/gitui-org/gitui/releases/194770119\",\"assets_url\":\"https://api.github.com/repos/gitui-org/gitui/releases/194770119/assets\",\"upload_url\":\"https://uploads.github.com/repos/gitui-org/gitui/releases/194770119/assets{?name,label}\",\"html_url\":\"https://github.com/gitui-org/gitui/releases/tag/v0.27.0\",\"id\":194770119,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDODsP_Fs4Lm_TH\",\"tag_name\":\"v0.27.0\",\"target_commitish\":\"master\",\"name\":\"v0.27.0\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-01-14T20:03:20Z\",\"updated_at\":\"2025-01-14T20:35:01Z\",\"published_at\":\"2025-01-14T20:13:24Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/gitui-org/gitui/releases/assets/220428232\",\"id\":220428232,\"node_id\":\"RA_kwDODsP_Fs4NI3fI\",\"name\":\"gitui-linux-aarch64.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/gzip\",\"state\":\"uploaded\",\"size\":5916903,\"digest\":null,\"download_count\":2182,\"created_at\":\"2025-01-14T20:15:55Z\",\"updated_at\":\"2025-01-14T20:15:55Z\",\"browser_download_url\":\"https://github.com/gitui-org/gitui/releases/download/v0.27.0/gitui-linux-aarch64.tar.gz\"},{\"url\":\"https://api.github.com/repos/gitui-org/gitui/releases/assets/220428233\",\"id\":220428233,\"node_id\":\"RA_kwDODsP_Fs4NI3fJ\",\"name\":\"gitui-linux-arm.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.githu[...]
- id: 1
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/gitui-org/gitui/releases/194770119/assets
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/gitui-org/gitui/releases/assets/220428232\",\"id\":220428232,\"node_id\":\"RA_kwDODsP_Fs4NI3fI\",\"name\":\"gitui-linux-aarch64.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avata[...]
