---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/schollz/croc/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/schollz/croc/releases/264031872\",\"assets_url\":\"https://api.github.com/repos/schollz/croc/releases/264031872/assets\",\"upload_url\":\"https://uploads.github.com/repos/schollz/croc/releases/264031872/assets{?name,label}\",\"html_url\":\"https://github.com/schollz/croc/releases/tag/v10.3.1\",\"id\":264031872,\"author\":{\"login\":\"schollz\",\"id\":6550035,\"node_id\":\"MDQ6VXNlcjY1NTAwMzU=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/6550035?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/schollz\",\"html_url\":\"https://github.com/schollz\",\"followers_url\":\"https://api.github.com/users/schollz/followers\",\"following_url\":\"https://api.github.com/users/schollz/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/schollz/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/schollz/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/schollz/subscriptions\",\"organizations_url\":\"https://api.github.com/users/schollz/orgs\",\"repos_url\":\"https://api.github.com/users/schollz/repos\",\"events_url\":\"https://api.github.com/users/schollz/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/schollz/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOBmURac4PvM6A\",\"tag_name\":\"v10.3.1\",\"target_commitish\":\"main\",\"name\":\"v10.3.1\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-11-20T15:26:19Z\",\"updated_at\":\"2025-11-20T15:27:53Z\",\"published_at\":\"2025-11-20T15:26:41Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/schollz/croc/releases/assets/318835294\",\"id\":318835294,\"node_id\":\"RA_kwDOBmURac4TAQpe\",\"name\":\"croc_v10.3.1_checksums.txt\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"text/plain\",\"state\":\"uploaded\",\"size\":2062,\"digest\":\"sha256:ed1fe9ad602d731b077c32c88d3bc7b751233bb99cdf86007cf8498464201bac\",\"download_count\":3269,\"created_at\":\"2025-11-20T15:27:51Z\",\"updated_at\":\"2025-11-20T15:27:52Z\",\"browser_download_url\":\"https://github.com/schollz/croc/releases/download/v10.3.1/croc_v10.3.1_checksums.txt\"},{\"url\":\"https://api.github.com/repos/schollz/croc/releases/assets/318835293\",\"id\":318835293,\"node_id\":\"RA_kwDOBmURac4TAQpd\",\"name\":\"croc_v10.3.1_DragonFlyBSD-64bit.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https:/[...]
