---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/jedisct1/piknik/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/jedisct1/piknik/releases/190394186\",\"assets_url\":\"https://api.github.com/repos/jedisct1/piknik/releases/190394186/assets\",\"upload_url\":\"https://uploads.github.com/repos/jedisct1/piknik/releases/190394186/assets{?name,label}\",\"html_url\":\"https://github.com/jedisct1/piknik/releases/tag/0.10.2\",\"id\":190394186,\"author\":{\"login\":\"jedisct1\",\"id\":124872,\"node_id\":\"MDQ6VXNlcjEyNDg3Mg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/124872?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jedisct1\",\"html_url\":\"https://github.com/jedisct1\",\"followers_url\":\"https://api.github.com/users/jedisct1/followers\",\"following_url\":\"https://api.github.com/users/jedisct1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jedisct1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jedisct1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jedisct1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jedisct1/orgs\",\"repos_url\":\"https://api.github.com/users/jedisct1/repos\",\"events_url\":\"https://api.github.com/users/jedisct1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jedisct1/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOA8zL784LWS9K\",\"tag_name\":\"0.10.2\",\"target_commitish\":\"master\",\"name\":\"0.10.2\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2024-12-12T09:25:38Z\",\"updated_at\":\"2024-12-12T10:22:55Z\",\"published_at\":\"2024-12-12T10:14:35Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/jedisct1/piknik/releases/assets/212857979\",\"id\":212857979,\"node_id\":\"RA_kwDOA8zL784Mr_R7\",\"name\":\"piknik-dragonflybsd_amd64-0.10.2.tar.gz\",\"label\":null,\"uploader\":{\"login\":\"jedisct1\",\"id\":124872,\"node_id\":\"MDQ6VXNlcjEyNDg3Mg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/124872?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jedisct1\",\"html_url\":\"https://github.com/jedisct1\",\"followers_url\":\"https://api.github.com/users/jedisct1/followers\",\"following_url\":\"https://api.github.com/users/jedisct1/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jedisct1/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jedisct1/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jedisct1/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jedisct1/orgs\",\"repos_url\":\"https://api.github.com/users/jedisct1/repos\",\"events_url\":\"https://api.github.com/users/jedisct1/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jedisct1/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/x-gzip\",\"state\":\"uploaded\",\"size\":2503887,\"digest\":null,\"download_count\":10,\"created_at\":\"2024-12-12T10:19:58Z\",\"updated_at\":\"2024-12-12T10:19:59Z\",\"browser_download_url\":\"https://github.com/jedisct1/piknik/releases/download/0.10.2/piknik-dragonflybsd_amd64-0.10.2.tar.gz\"},{\"url\":\"https://api.github.com/repos/jedisct1/piknik/releases/assets/212857981\",\"id\":212857981,\"node_id\":\"RA_kwDOA8zL784Mr_R9\",\"name\":\"piknik-freebsd_amd64-0.10.2.tar.gz\",\"label\":null,\"uploader\":{\"login\":\"jedisct1\",\"id\":124872,\"node_id\":\"MDQ6VXNlcjEyNDg3Mg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/124872?v=4\",\"gravatar_id\":\"\",\"url\":\"https:[...]
- id: 1
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/jedisct1/piknik/releases/190394186/assets
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/jedisct1/piknik/releases/assets/212857979\",\"id\":212857979,\"node_id\":\"RA_kwDOA8zL784Mr_R7\",\"name\":\"piknik-dragonflybsd_amd64-0.10.2.tar.gz\",\"label\":null,\"uploader\":{\"login\":\"jedisct1\",\"id\":124872,\"node_id\":\"MDQ6VXNlcjEyNDg3Mg==\",\"avatar_url\":\"https://avata[...]
