---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/bufbuild/buf/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/bufbuild/buf/releases/262550663\",\"assets_url\":\"https://api.github.com/repos/bufbuild/buf/releases/262550663/assets\",\"upload_url\":\"https://uploads.github.com/repos/bufbuild/buf/releases/262550663/assets{?name,label}\",\"html_url\":\"https://github.com/bufbuild/buf/releases/tag/v1.60.0\",\"id\":262550663,\"author\":{\"login\":\"buf-release-bot[bot]\",\"id\":116301919,\"node_id\":\"BOT_kgDOBu6gXw\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/251311?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D\",\"html_url\":\"https://github.com/apps/buf-release-bot\",\"followers_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDODKn4M84PpjSH\",\"tag_name\":\"v1.60.0\",\"target_commitish\":\"main\",\"name\":\"v1.60.0\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-11-14T20:15:49Z\",\"updated_at\":\"2025-11-14T20:38:21Z\",\"published_at\":\"2025-11-14T20:38:21Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/bufbuild/buf/releases/assets/316528068\",\"id\":316528068,\"node_id\":\"RA_kwDODKn4M84S3dXE\",\"name\":\"buf-Darwin-arm64\",\"label\":\"\",\"uploader\":{\"login\":\"buf-release-bot[bot]\",\"id\":116301919,\"node_id\":\"BOT_kgDOBu6gXw\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/251311?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D\",\"html_url\":\"https://github.com/apps/buf-release-bot\",\"followers_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/buf-release-bot%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/octet-stream\",\"state\":\"uploaded\",\"size\":51591954,\"digest\":\"sha256:9de3c464c9e9cb3b7c4d3ea0f155fb75545f83922101f120386ccf89e014b4e2\",\"download_count\":1317,\"created_at\":\"2025-11-14T20:37:01Z\",\"updated_at\":\"2025-11-14T20:37:06Z\",\"browser_download_url\":\"https://github.com/bufbuild/buf/releases/download/v1.60.0/buf-Darwin-arm64\"},{\"url\":\"https://api.github.com/repos/bufbuild/buf/releases/assets/316528069\",\"id\":316528069,\"node_id\":\"RA_kwDODKn4M84S3dXF\",\"name\":\"buf-Darwin-arm64.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"buf-release-bot[bot]\",\"id\":116301919,\"node_id\":\"BOT_kgDOBu6gXw\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/251311?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/buf-re[...]
