---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/astral-sh/uv/releases/latest
    method: GET
  response:
    body: "{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/244470094\",\"assets_url\":\"https://api.github.com/repos/astral-sh/uv/releases/244470094/assets\",\"upload_url\":\"https://uploads.github.com/repos/astral-sh/uv/releases/244470094/assets{?name,label}\",\"html_url\":\"https://github.com/astral-sh/uv/releases/tag/0.8.15\",\"id\":244470094,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOKbIFZc4OklFO\",\"tag_name\":\"0.8.15\",\"target_commitish\":\"8473ecba11664c70628d776c44f60afefee0b49f\",\"name\":\"0.8.15\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-09-03T13:32:12Z\",\"updated_at\":\"2025-09-03T14:32:54Z\",\"published_at\":\"2025-09-03T14:32:54Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/assets/289235408\",\"id\":289235408,\"node_id\":\"RA_kwDOKbIFZc4RPWHQ\",\"name\":\"dist-manifest.json\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/json\",\"state\":\"uploaded\",\"size\":43590,\"digest\":\"sha256:96984f892b8b05a1aecb67b1b425bd818ea74cd8d4694183c0b64e2dca668bab\",\"download_count\":602,\"created_at\":\"2025-09-03T14:32:47Z\",\"updated_at\":\"2025-09-03T14:32:47Z\",\"browser_download_url\":\"https://github.com/astral-sh/uv/releases/download/0.8.15/dist-manifest.json\"},{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/assets/289235409\",\"id\":289235409,\"node_id\":\"RA_kwDOKbIFZc4RPWHR\",\"name\":\"sha256.sum\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%[...]
