---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/jpillora/tmux-static-builds/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/jpillora/tmux-static-builds/releases/253870192\",\"assets_url\":\"https://api.github.com/repos/jpillora/tmux-static-builds/releases/253870192/assets\",\"upload_url\":\"https://uploads.github.com/repos/jpillora/tmux-static-builds/releases/253870192/assets{?name,label}\",\"html_url\":\"https://github.com/jpillora/tmux-static-builds/releases/tag/v3.5i\",\"id\":253870192,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOQAv1ms4PIcBw\",\"tag_name\":\"v3.5i\",\"target_commitish\":\"master\",\"name\":\"v3.5i\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-10-12T02:42:33Z\",\"updated_at\":\"2025-10-12T03:32:48Z\",\"published_at\":\"2025-10-12T03:32:44Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/jpillora/tmux-static-builds/releases/assets/303269810\",\"id\":303269810,\"node_id\":\"RA_kwDOQAv1ms4SE4ey\",\"name\":\"tmux.linux-amd64.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"raw\",\"state\":\"uploaded\",\"size\":930362,\"digest\":\"sha256:d803e119236853d40b4e0eca7393fd02b7159f6903d68862cf6d32635ec09f14\",\"download_count\":0,\"created_at\":\"2025-10-12T03:32:47Z\",\"updated_at\":\"2025-10-12T03:32:47Z\",\"browser_download_url\":\"https://github.com/jpillora/tmux-static-builds/releases/download/v3.5i/tmux.linux-amd64.gz\"},{\"url\":\"https://api.github.com/repos/jpillora/tmux-static-builds/releases/assets/303269808\",\"id\":303269808,\"node_id\":\"RA_kwDOQAv1ms4SE4ew\",\"name\":\"tmux.linux-amd64.stripped.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\[...]
- id: 1
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/jpillora/tmux-static-builds/releases/253870192/assets
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/jpillora/tmux-static-builds/releases/assets/303269810\",\"id\":303269810,\"node_id\":\"RA_kwDOQAv1ms4SE4ey\",\"name\":\"tmux.linux-amd64.gz\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\[...]
