---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/gitleaks/gitleaks/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/gitleaks/gitleaks/releases/233761059\",\"assets_url\":\"https://api.github.com/repos/gitleaks/gitleaks/releases/233761059/assets\",\"upload_url\":\"https://uploads.github.com/repos/gitleaks/gitleaks/releases/233761059/assets{?name,label}\",\"html_url\":\"https://github.com/gitleaks/gitleaks/releases/tag/v8.28.0\",\"id\":233761059,\"author\":{\"login\":\"zricethezav\",\"id\":15034943,\"node_id\":\"MDQ6VXNlcjE1MDM0OTQz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/15034943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zricethezav\",\"html_url\":\"https://github.com/zricethezav\",\"followers_url\":\"https://api.github.com/users/zricethezav/followers\",\"following_url\":\"https://api.github.com/users/zricethezav/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zricethezav/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zricethezav/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zricethezav/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zricethezav/orgs\",\"repos_url\":\"https://api.github.com/users/zricethezav/repos\",\"events_url\":\"https://api.github.com/users/zricethezav/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zricethezav/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOBxqyq84N7ukj\",\"tag_name\":\"v8.28.0\",\"target_commitish\":\"master\",\"name\":\"v8.28.0\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-07-20T16:15:51Z\",\"updated_at\":\"2025-07-20T16:24:25Z\",\"published_at\":\"2025-07-20T16:18:38Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/gitleaks/gitleaks/releases/assets/274652676\",\"id\":274652676,\"node_id\":\"RA_kwDOBxqyq84QXt4E\",\"name\":\"gitleaks_8.28.0_checksums.txt\",\"label\":\"\",\"uploader\":{\"login\":\"zricethezav\",\"id\":15034943,\"node_id\":\"MDQ6VXNlcjE1MDM0OTQz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/15034943?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zricethezav\",\"html_url\":\"https://github.com/zricethezav\",\"followers_url\":\"https://api.github.com/users/zricethezav/followers\",\"following_url\":\"https://api.github.com/users/zricethezav/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zricethezav/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zricethezav/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zricethezav/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zricethezav/orgs\",\"repos_url\":\"https://api.github.com/users/zricethezav/repos\",\"events_url\":\"https://api.github.com/users/zricethezav/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zricethezav/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"text/plain; charset=utf-8\",\"state\":\"uploaded\",\"size\":1099,\"digest\":\"sha256:4ea55cd2e433edbe3151e0ff49b044df310e29967a38f38b68b1434a3660dcb8\",\"download_count\":16554,\"created_at\":\"2025-07-20T16:18:39Z\",\"updated_at\":\"2025-07-20T16:18:39Z\",\"browser_download_url\":\"https://github.com/gitleaks/gitleaks/releases/download/v8.28.0/gitleaks_8.28.0_checksums.txt\"},{\"url\":\"https://api.github.com/repos/gitleaks/gitleaks/releases/assets/274652673\",\"id\":274652673,\"node_id\":\"RA_kwDOBxqyq84QXt4B\",\"name\":\"gitleaks_8.28.0_darwin_arm64.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"zricethezav\",\"id\":15034943,\"node_id\":\"MDQ6VXNlcjE1MDM0OTQz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/15034943?v=4\",\"gravatar_id\":\"\",\"url\":\"htt[...]
- id: 1
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/gitleaks/gitleaks/releases/233761059/assets
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/gitleaks/gitleaks/releases/assets/274652676\",\"id\":274652676,\"node_id\":\"RA_kwDOBxqyq84QXt4E\",\"name\":\"gitleaks_8.28.0_checksums.txt\",\"label\":\"\",\"uploader\":{\"login\":\"zricethezav\",\"id\":15034943,\"node_id\":\"MDQ6VXNlcjE1MDM0OTQz\",\"avatar_url\":\"https://avatar[...]
