---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/astral-sh/uv/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/246315194\",\"assets_url\":\"https://api.github.com/repos/astral-sh/uv/releases/246315194/assets\",\"upload_url\":\"https://uploads.github.com/repos/astral-sh/uv/releases/246315194/assets{?name,label}\",\"html_url\":\"https://github.com/astral-sh/uv/releases/tag/0.8.17\",\"id\":246315194,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOKbIFZc4Orni6\",\"tag_name\":\"0.8.17\",\"target_commitish\":\"10960bc13a29fdfc70b30e1bded25a23cb970568\",\"name\":\"0.8.17\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-09-10T21:21:32Z\",\"updated_at\":\"2025-09-10T21:52:02Z\",\"published_at\":\"2025-09-10T21:52:02Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/assets/291892176\",\"id\":291892176,\"node_id\":\"RA_kwDOKbIFZc4RZevQ\",\"name\":\"dist-manifest.json\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/json\",\"state\":\"uploaded\",\"size\":44169,\"digest\":\"sha256:2db18ec9cdd498b83656adf5f891826e1b62b62abfdd9996f30558e8b38a921a\",\"download_count\":15,\"created_at\":\"2025-09-10T21:51:56Z\",\"updated_at\":\"2025-09-10T21:51:56Z\",\"browser_download_url\":\"https://github.com/astral-sh/uv/releases/download/0.8.17/dist-manifest.json\"},{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/assets/291892179\",\"id\":291892179,\"node_id\":\"RA_kwDOKbIFZc4RZevT\",\"name\":\"sha256.sum\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%[...]
