---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/jesseduffield/lazygit/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/jesseduffield/lazygit/releases/245251832\",\"assets_url\":\"https://api.github.com/repos/jesseduffield/lazygit/releases/245251832/assets\",\"upload_url\":\"https://uploads.github.com/repos/jesseduffield/lazygit/releases/245251832/assets{?name,label}\",\"html_url\":\"https://github.com/jesseduffield/lazygit/releases/tag/v0.55.0\",\"id\":245251832,\"author\":{\"login\":\"stefanhaller\",\"id\":1225667,\"node_id\":\"MDQ6VXNlcjEyMjU2Njc=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/1225667?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/stefanhaller\",\"html_url\":\"https://github.com/stefanhaller\",\"followers_url\":\"https://api.github.com/users/stefanhaller/followers\",\"following_url\":\"https://api.github.com/users/stefanhaller/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/stefanhaller/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/stefanhaller/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/stefanhaller/subscriptions\",\"organizations_url\":\"https://api.github.com/users/stefanhaller/orgs\",\"repos_url\":\"https://api.github.com/users/stefanhaller/repos\",\"events_url\":\"https://api.github.com/users/stefanhaller/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/stefanhaller/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOB_zxBs4Onj74\",\"tag_name\":\"v0.55.0\",\"target_commitish\":\"master\",\"name\":\"v0.55.0\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-09-06T08:18:58Z\",\"updated_at\":\"2025-09-06T08:25:00Z\",\"published_at\":\"2025-09-06T08:25:00Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/jesseduffield/lazygit/releases/assets/290291750\",\"id\":290291750,\"node_id\":\"RA_kwDOB_zxBs4RTYAm\",\"name\":\"checksums.txt\",\"label\":\"\",\"uploader\":{\"login\":\"stefanhaller\",\"id\":1225667,\"node_id\":\"MDQ6VXNlcjEyMjU2Njc=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/1225667?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/stefanhaller\",\"html_url\":\"https://github.com/stefanhaller\",\"followers_url\":\"https://api.github.com/users/stefanhaller/followers\",\"following_url\":\"https://api.github.com/users/stefanhaller/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/stefanhaller/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/stefanhaller/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/stefanhaller/subscriptions\",\"organizations_url\":\"https://api.github.com/users/stefanhaller/orgs\",\"repos_url\":\"https://api.github.com/users/stefanhaller/repos\",\"events_url\":\"https://api.github.com/users/stefanhaller/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/stefanhaller/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"text/plain; charset=utf-8\",\"state\":\"uploaded\",\"size\":1413,\"digest\":\"sha256:d98e9bb41f54cff4a5f88b43a855ae5b205b93d6d54f6941515abda94c644e1d\",\"download_count\":572,\"created_at\":\"2025-09-06T08:24:59Z\",\"updated_at\":\"2025-09-06T08:24:59Z\",\"browser_download_url\":\"https://github.com/jesseduffield/lazygit/releases/download/v0.55.0/checksums.txt\"},{\"url\":\"https://api.github.com/repos/jesseduffield/lazygit/releases/assets/290291744\",\"id\":290291744,\"node_id\":\"RA_kwDOB_zxBs4RTYAg\",\"name\":\"lazygit_0.55.0_darwin_arm64.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"stefanhaller\",\"id\":1225667,\"node_id\":\"MDQ6VXNlcjEyMjU2Njc=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/1225667?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.g[...]
- id: 1
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/jesseduffield/lazygit/releases/245251832/assets
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/jesseduffield/lazygit/releases/assets/290291750\",\"id\":290291750,\"node_id\":\"RA_kwDOB_zxBs4RTYAm\",\"name\":\"checksums.txt\",\"label\":\"\",\"uploader\":{\"login\":\"stefanhaller\",\"id\":1225667,\"node_id\":\"MDQ6VXNlcjEyMjU2Njc=\",\"avatar_url\":\"https://avatars.github[...]
