---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/yudai/gotty/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/yudai/gotty/releases/8884403\",\"assets_url\":\"https://api.github.com/repos/yudai/gotty/releases/8884403/assets\",\"upload_url\":\"https://uploads.github.com/repos/yudai/gotty/releases/8884403/assets{?name,label}\",\"html_url\":\"https://github.com/yudai/gotty/releases/tag/v2.0.0-alpha.3\",\"id\":8884403,\"author\":{\"login\":\"yudai\",\"id\":33192,\"node_id\":\"MDQ6VXNlcjMzMTky\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/33192?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/yudai\",\"html_url\":\"https://github.com/yudai\",\"followers_url\":\"https://api.github.com/users/yudai/followers\",\"following_url\":\"https://api.github.com/users/yudai/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/yudai/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/yudai/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/yudai/subscriptions\",\"organizations_url\":\"https://api.github.com/users/yudai/orgs\",\"repos_url\":\"https://api.github.com/users/yudai/repos\",\"events_url\":\"https://api.github.com/users/yudai/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/yudai/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"MDc6UmVsZWFzZTg4ODQ0MDM=\",\"tag_name\":\"v2.0.0-alpha.3\",\"target_commitish\":\"a080c85cbc59226c94c6941ad8c395232d72d517\",\"name\":\"v2.0.0-alpha.3\",\"draft\":false,\"immutable\":false,\"prerelease\":true,\"created_at\":\"2017-12-13T08:44:18Z\",\"updated_at\":\"2017-12-13T08:59:11Z\",\"published_at\":\"2017-12-13T08:57:36Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/yudai/gotty/releases/assets/5608492\",\"id\":5608492,\"node_id\":\"MDEyOlJlbGVhc2VBc3NldDU2MDg0OTI=\",\"name\":\"gotty_2.0.0-alpha.3_darwin_386.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"yudai\",\"id\":33192,\"node_id\":\"MDQ6VXNlcjMzMTky\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/33192?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/yudai\",\"html_url\":\"https://github.com/yudai\",\"followers_url\":\"https://api.github.com/users/yudai/followers\",\"following_url\":\"https://api.github.com/users/yudai/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/yudai/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/yudai/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/yudai/subscriptions\",\"organizations_url\":\"https://api.github.com/users/yudai/orgs\",\"repos_url\":\"https://api.github.com/users/yudai/repos\",\"events_url\":\"https://api.github.com/users/yudai/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/yudai/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/gzip\",\"state\":\"uploaded\",\"size\":3423452,\"digest\":null,\"download_count\":341,\"created_at\":\"2017-12-13T08:57:36Z\",\"updated_at\":\"2017-12-13T08:57:36Z\",\"browser_download_url\":\"https://github.com/yudai/gotty/releases/download/v2.0.0-alpha.3/gotty_2.0.0-alpha.3_darwin_386.tar.gz\"},{\"url\":\"https://api.github.com/repos/yudai/gotty/releases/assets/5608498\",\"id\":5608498,\"node_id\":\"MDEyOlJlbGVhc2VBc3NldDU2MDg0OTg=\",\"name\":\"gotty_2.0.0-alpha.3_darwin_amd64.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"yudai\",\"id\":33192,\"node_id\":\"MDQ6VXNlcjMzMTky\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/33192?v=4\",\"gravatar_id\":\"\",\"url\":\"htt[...]
- id: 1
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/yudai/gotty/releases/1977565/assets
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/yudai/gotty/releases/assets/953148\",\"id\":953148,\"node_id\":\"MDEyOlJlbGVhc2VBc3NldDk1MzE0OA==\",\"name\":\"gotty_darwin_386.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"yudai\",\"id\":33192,\"node_id\":\"MDQ6VXNlcjMzMTky\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/[...]
