---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/zyedidia/micro/releases/latest
    method: GET
  response:
    body: "{\"url\":\"https://api.github.com/repos/zyedidia/micro/releases/172208851\",\"assets_url\":\"https://api.github.com/repos/zyedidia/micro/releases/172208851/assets\",\"upload_url\":\"https://uploads.github.com/repos/zyedidia/micro/releases/172208851/assets{?name,label}\",\"html_url\":\"https://github.com/zyedidia/micro/releases/tag/v2.0.14\",\"id\":172208851,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOAzJcjM4KQ7LT\",\"tag_name\":\"v2.0.14\",\"target_commitish\":\"master\",\"name\":\"2.0.14\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2024-08-27T17:58:59Z\",\"updated_at\":\"2024-08-28T21:24:40Z\",\"published_at\":\"2024-08-27T18:13:07Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/zyedidia/micro/releases/assets/188940062\",\"id\":188940062,\"node_id\":\"RA_kwDOAzJcjM4LQv8e\",\"name\":\"micro-2.0.14-freebsd32.tar.gz\",\"label\":null,\"uploader\":{\"login\":\"JoeKar\",\"id\":3951388,\"node_id\":\"MDQ6VXNlcjM5NTEzODg=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/3951388?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/JoeKar\",\"html_url\":\"https://github.com/JoeKar\",\"followers_url\":\"https://api.github.com/users/JoeKar/followers\",\"following_url\":\"https://api.github.com/users/JoeKar/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/JoeKar/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/JoeKar/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/JoeKar/subscriptions\",\"organizations_url\":\"https://api.github.com/users/JoeKar/orgs\",\"repos_url\":\"https://api.github.com/users/JoeKar/repos\",\"events_url\":\"https://api.github.com/users/JoeKar/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/JoeKar/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/gzip\",\"state\":\"uploaded\",\"size\":4466169,\"digest\":null,\"download_count\":969,\"created_at\":\"2024-08-28T21:16:50Z\",\"updated_at\":\"2024-08-28T21:17:00Z\",\"browser_download_url\":\"https://github.com/zyedidia/micro/releases/download/v2.0.14/micro-2.0.14-freebsd32.tar.gz\"},{\"url\":\"https://api.github.com/repos/zyedidia/micro/releases/assets/188940070\",\"id\":188940070,\"node_id\":\"RA_kwDOAzJcjM4LQv8m\",\"name\":\"micro-2.0.14-freebsd32.tar.gz.sha\",\"label\":null,\"uploader\":{\"login\":\"JoeKar\",\"id\":3951388,\"node_id\":\"MDQ6VXNlcjM5NTEzODg=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/3951388?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github[...]
