---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/yt-dlp/yt-dlp/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/261593255\",\"assets_url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/261593255/assets\",\"upload_url\":\"https://uploads.github.com/repos/yt-dlp/yt-dlp/releases/261593255/assets{?name,label}\",\"html_url\":\"https://github.com/yt-dlp/yt-dlp/releases/tag/2025.11.12\",\"id\":261593255,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOElBrLc4Pl5in\",\"tag_name\":\"2025.11.12\",\"target_commitish\":\"5977782142ca7e41240f07202cc9b8dcc087b401\",\"name\":\"yt-dlp 2025.11.12\",\"draft\":false,\"immutable\":true,\"prerelease\":false,\"created_at\":\"2025-11-12T00:51:01Z\",\"updated_at\":\"2025-11-12T05:38:33Z\",\"published_at\":\"2025-11-12T01:00:04Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/assets/315310541\",\"id\":315310541,\"node_id\":\"RA_kwDOElBrLc4Sy0HN\",\"name\":\"SHA2-256SUMS\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/octet-stream\",\"state\":\"uploaded\",\"size\":1595,\"digest\":\"sha256:995b4a648d2a9a009a8db8b81a6e238108efaef4785c1f5de32fc1285db78655\",\"download_count\":608540,\"created_at\":\"2025-11-12T00:59:57Z\",\"updated_at\":\"2025-11-12T00:59:57Z\",\"browser_download_url\":\"https://github.com/yt-dlp/yt-dlp/releases/download/2025.11.12/SHA2-256SUMS\"},{\"url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/assets/315310539\",\"id\":315310539,\"node_id\":\"RA_kwDOElBrLc4Sy0HL\",\"name\":\"SHA2-256SUMS.sig\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-ac[...]
