---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/astral-sh/uv/releases
    method: GET
  response:
    body: "[{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/267993746\",\"assets_url\":\"https://api.github.com/repos/astral-sh/uv/releases/267993746/assets\",\"upload_url\":\"https://uploads.github.com/repos/astral-sh/uv/releases/267993746/assets{?name,label}\",\"html_url\":\"https://github.com/astral-sh/uv/releases/tag/0.9.16\",\"id\":267993746,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOKbIFZc4P-UKS\",\"tag_name\":\"0.9.16\",\"target_commitish\":\"a63e5b62e39c7f581831daaaa2df4a21ae27a017\",\"name\":\"0.9.16\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-12-06T13:52:06Z\",\"updated_at\":\"2025-12-06T14:22:06Z\",\"published_at\":\"2025-12-06T14:22:06Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/assets/325156001\",\"id\":325156001,\"node_id\":\"RA_kwDOKbIFZc4TYXyh\",\"name\":\"dist-manifest.json\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/json\",\"state\":\"uploaded\",\"size\":46103,\"digest\":\"sha256:9b3e29b9efdec75b0d2d930975729a8c746e747a39e4ae57563d1db68f32b7b2\",\"download_count\":20,\"created_at\":\"2025-12-06T14:21:59Z\",\"updated_at\":\"2025-12-06T14:21:59Z\",\"browser_download_url\":\"https://github.com/astral-sh/uv/releases/download/0.9.16/dist-manifest.json\"},{\"url\":\"https://api.github.com/repos/astral-sh/uv/releases/assets/325155999\",\"id\":325155999,\"node_id\":\"RA_kwDOKbIFZc4TYXyf\",\"name\":\"sha256.sum\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%[...]
