repository: https://github.com/{{ .User }}/{{ .Program }}
user: {{ .User }}
program: {{ .Program }}{{if .AsProgram }}
as: {{ .AsProgram }}{{end}}
release: {{ .ResolvedRelease }}
move-into-path: {{ .MoveToPath }}
sudo-move: {{ .SudoMove }}
used-search: {{ .Search }}
asset-select: {{ .Select }}

release assets:
{{ range .Assets }}  {{ .Key }}
    url:    {{ .URL }} {{if .SHA256 }}
    sha256: {{ .SHA256 }}{{end}}
{{end}}
has-m1-asset: {{ .M1Asset }}

to see shell script, append ?type=script
for more information on this server, visit:
  github.com/jpillora/installer


