repository: https://github.com/{{ .User }}/{{ .Program }}
user: {{ .User }}
program: {{ .Program }}
release: {{ .Release }}
release assets:
{{ range .Assets }}  {{ .URL }}
{{end}}
move-into-path: {{ .MoveToPath }}
sudo-move: {{ .SudoMove }}
used-google: {{ .Google }}

to see shell script, append ?type=script
for more information on this server, visit:
  github.com/jpillora/installer